<!-- register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login.css') }}">
</head>
<body>
    <div class="container">
        <h1>Register for StockFlow</h1>
        <form method="POST" action="{{ url_for('auth.register') }}">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" required>
        
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" required>
        
            <label for="username">Username:</label>
            <input type="text" name="username" required>
        
            <label for="email">Email:</label>
            <input type="email" name="email" required>
        
            <label for="password">Password:</label>
            <input type="password" name="password" required>
        
            <label for="role">Register as:</label>
            <select name="role" required>
                <option value="admin">Admin</option>
                <option value="operative">Operative</option>
            </select>
        
            <input type="submit" value="Register">
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
